body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9589bf; /* Light Lavender */
  color: #ffffff; /* White text */
}

header {
  background-color: #352469; /* Dark Purple for header and navigation bar */
}

button, .cta-button {
  background-color: #502e8b; /* Rich Purple for primary buttons */
  color: #ffffff; /* White text for buttons */
}

button.secondary {
  background-color: #7f489c; /* Medium Purple for secondary buttons */
}

a {
  color: #502e8b; /* Rich Purple for links */
}

footer {
  background-color: #000000; /* Black background for footer or dark sections */
  color: #ffffff; /* White text */
}
